<div class='container-fluid mt-2 g-1'>
    <div class="row align-items-center text-center bg-danger rounded m-2">
        <div class="col-12 col-sm-6 ">
            <h1 class="text-center text-sm-start">Dashboard</h1>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-end">
            <%= link_to "Students", students_path, class: "btn btn-secondary" %>
            <%= link_to "Lectures", lectures_path, class: "btn btn-secondary" %>
        </div>     
    </div>

    <div class="w-75 g-4 mx-auto">
        <div class="row w-100 gap-0">
            <div class="col-12 col-sm-6 border border-danger rounded ">
                <h2 class="text-center">Totals</h2>
                <h4>Students: <%= @students_total_count %></h4>
                <h4>Lectures: <%= @lectures_total_count %></h4>
            </div>
            <div class="col-12 col-sm-6 text-center border border-danger rounded">
                <h2>Averages</h2>
                <h4> School Overall Average: <%= @students_overall_average %> </h4>
                <% if @grade_averages == "Empty" %>
                <h4> Average per grade not available </h4>
                <% else %>
                <div class="row p-2 mx-auto justify-content-around"> 
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>8: <%= @grade_averages[8]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>9: <%= @grade_averages[9]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>10: <%= @grade_averages[10]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>11: <%= @grade_averages[11]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>12: <%= @grade_averages[12]%>% </h4>
                    </div>
                
                </div>
                <% end %>
            </div>
        </div>
        <div class="row gap-0">
        <div class="row mt-2">
            <div class = "col-12 col-sm-6 border border-danger rounded">
                <h4 class= "text-center"> Averages Per Subject </h4>
                <div class="col-12 d-flex flex-wrap btn-group p-1 gap-1">
                <% @all_subject_names.each do |subject_name| %>
                    <% btn_classes = "btn rounded text-light " %>
                    <% btn_classes += subject_name == @selected_subject ? "border border-danger" : "" %>
                    <%= form_with url: view_set_selected_subject_path, method: :post, local: true do %>
                    <%= hidden_field_tag :subject_name, subject_name %>
                    <%= submit_tag subject_name, class: btn_classes %>
                    <% end %>
                <% end %>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-sm-6 border border-light rounded p-3 text-center">
                        <div class="col-12">Overall Percentage: <%= @selected_subject_overall_percentage %></div>
                            <div class = "col-12 mt-2">
                                <% @selected_subject_grade_array.each do |current_grade_data| %>
                                    <p> <%= current_grade_data %> </p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <div class="col-12 col-sm-6 border border-danger rounded">
                        <div class="row justify-content-center">
                        <h4 class= "text-center"> Student Activity Counts<h4>
                        <div class="col-12 text-center">
                            <% @activity_student_count.each do |activity_name, student_count| %>
                                <div class="my-2"><%= activity_name %> : <%= student_count %></div>
                            <% end %>
                        </div>
                    </div
                </div>

            </div>
        </div>
    </div>
</div>


