<div class='container-fluid mt-2 g-1'>
    <div class="w-100 text-center">
        <h1>School Dashboard</h1>
    </div>

    <div class="w-75 g-4 mx-auto">
        <div class="row w-100 border border-primary gap-0">
            <div class="col-12 col-md-6 border border-danger rounded">
                <h2>Totals</h2>
                <h4>Students: <%= @students_total_count %></h4>
            </div>
            <div class="col-12 col-md-6 text-center border border-success">
                <h2>Averages</h2>
                <h4> School Overall Average: <%= @students_overall_average %> </h4>
                <% if @grade_averages == "Empty" %>
                <h4> Average per grade not available </h4>
                <% else %>
                <div class="row p-2 mx-auto justify-content-around"> 
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>8: <%= @grade_averages[8]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>9: <%= @grade_averages[9]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>10: <%= @grade_averages[10]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>11: <%= @grade_averages[11]%>% </h4>
                    </div>
                    <div class="col-sm-2 col-6 border border-light rounded p-1">
                        <h4>12: <%= @grade_averages[12]%>% </h4>
                    </div>
                
                </div>
                <% end %>
            </div>
        </div>
        <% @subject_averages_overall.each do |current_subject, average_value| %>
            <div class="row">
                <div class="border border-light rounded">
                    School Overall: <%= current_subject %>: <%= average_value %>%
                </div>    
            </div>
        <% end %>
        </div>
    </div>
</div>


